.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.product-propose_title-name {
    padding-right: 26px;
    font-weight: 500;
    font-size: 20px;
    color: var(--text-color) !important;
    padding-bottom: 18px;
    cursor: default;
    border-bottom: 3px solid rgb(211, 23, 23);
    margin-top: 50px;
}
